:root {
    /* element plus - 项目主题色
    ------------------------------- */
    --el-color-primary: #409eff; // 主要颜色
    --el-color-success: #67c23a; // 成功
    --el-color-warning: #e6a23c; // 警告
    --el-color-danger: #f56c6c; // 危险
    --el-color-info: #909399; // 消息
    --el-color-error: #f56c6c; // 报错


    /* element plus - 字体部分
    ------------------------------- */
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
}