/* 项目主题色
------------------------------- */
$-color-primary: #409eff;
$-color-primary-hover:#66b1ff;


$-color-success: #67c23a;
$-color-warning: #e6a23c;
$-color-danger: #f56c6c;
$-color-info: #909399;


/* main
------------------------------- */
$-color-bg-main:#f8f8f8; // main 主页背景色
$-color-border-light: #f1f2f3; // 边框线颜色
$-color-text-white:#ffffff; // 白色字体
$-color-text-black:#000000; // 黑色字体
$-color-text-regular:#606266; // 常规字体颜色
$-height-header:50px; // 头部高度


/* 侧边栏样式
------------------------------- */
$-width-sidebar-open:210px; // 侧边栏展开宽度
$-width-sidebar-hide:64px; // 侧边栏收起时的宽度
$-color-text:#fff; // 字体颜色
$-color-sidebar-bg:#304156; // 背景色
$-color-sidebar-bg-hover:#001528; // 鼠标滑过
$-color-sidebar-sub-bg:#1f2d3d; // 子级背景色
$-color-sidebar-bg-active:#001528; // 选中状态



/* header 部样式
------------------------------- */
$-color-svg-bg-hover:rgba(0, 0, 0, 0.04); // svg 鼠标滑过背景色