/* main
------------------------------- */
$-color-border-light: #f1f2f3; // 边框线颜色
$-color-text-primary: #303133; // 字体主颜色
$-color-text-default: #606266; // 常规字体颜色



/* 侧边栏样式
------------------------------- */
$-width-sidebar-open: 210px; // 侧边栏展开宽度
$-width-sidebar-hide: 54px; // 侧边栏收起时的宽度
$-color-sidebar-text: #fff; // 侧边栏字体颜色
$-color-sidebar-bg: #304156; // 背景色
$-color-sidebar-bg-hover: #001528; // 鼠标滑过
$-color-sidebar-sub-bg: #1f2d3d; // 子级背景色
$-color-sidebar-bg-active: #001528; // 选中状态



/* header 部样式
------------------------------- */
$-color-header-bg: #fff;
$-color-svg-bg-hover: rgba(0, 0, 0, 0.04); // svg 鼠标滑过背景色
$-color-border-default: var(--el-border-color);



// dark 主题
$-color-dark-hover: #0000001a;